@use "@styles/forms";

.form {
  display: flex;
  width: 100%;
  align-items: center;
  max-height: 75vh;
  overflow-y: scroll;
}

.formMapperRow {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #454952;
}

.transactionRow {
  padding: 1rem;
  flex-direction: row;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: var(--componentRadius);
  background-color: var(--componentBackground);
}

.transactionCard {
  background-color: var(--componentBackground) !important;
  border: 1px solid var(--border);
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 900px) {
    width: 900px;
  }
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cardTitle {
  font-weight: 600;
  color: var(--foreground);
}

.sectionTitle {
  color: var(--foreground);
  margin-bottom: 0px;
  display: block; // Typography component defaults to span or p, ensure display block if needed
}

.skipContainer {
  display: flex;
  align-items: center;
}

.amount {
  &--expense {
    color: var(--expensescolor);
  }

  &--income {
    color: var(--incomescolor);
  }
}

.accordion {
  background-color: transparent !important;
  box-shadow: none !important;
  border-top: 1px solid var(--border);

  &:before {
    display: none !important;
  }

  &Summary {
    color: var(--foreground) !important;
  }
}

.transaction {
  align-items: center;
  flex: 1;
  display: flex;
  gap: 0.5rem;

  &__itemTitle {
    font-weight: bold;
  }
}

.transactionActions {
  flex: 1;
  padding-top: 0;
  padding-left: 1rem;
  border-top: none;
  border-left: 1px solid #454952;
}

@media (max-width: 768px) {
  .transactionRow {
    flex-direction: column;
  }

  .transaction {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
    gap: 0.5rem;
  }

  .transactionActions {
    padding-top: 1rem;
    padding-left: 0;
    border-left: none;
    border-top: 1px solid #454952;
  }
}

.columnTitle {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #b3aea5;
  font-weight: bold;
}