@use "@styles/forms";

.form {
  background-color: var(--componentBackground);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--componentPadding);
  border-radius: var(--componentRadius);
  margin-bottom: 10px;
  margin-top: 10px;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__headerSelect {
    display: flex;
  }
}

.previewContainer {
  max-height: calc(100vh - 100px); // 500 means space for upper elements
  width: 100%;
  overflow-y: auto;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: scroll;

  caption {
    caption-side: top;
    text-align: left;
  }

  thead {
    background-color: var(--componentBackground);
    top: 0;
    position: sticky;
  }

  .row {
    cursor: pointer;

    & .column {
      padding: 5px;
      border: 1px solid var(--border);
    }

    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &.selectedRow {
      cursor: pointer;
      opacity: 1;
      background-color: var(--foreground);
      color: var(--background);
    }
  }
}