.card {
  background-color: var(--componentBackground) !important;
  color: var(--foreground) !important;
  border-radius: 8px; /* Consistent radius */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  /* Ensure text inside content is readable */
  :global(.MuiTypography-colorTextSecondary) {
    color: var(--secondary) !important;
  }
}
