:root {
  --fontFamily: Arial, Helvetica, sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --disabled: #454952;
  --border: #454952;
  --maincolor: #32cd32;
  --gradientmaincolor: #9acd32;
  --expensescolor: #ff6347;
  --incomescolor: #32cd32;
  --inputLabel: #b3aea5;
  --buttonRadius: 4px;
  --componentRadius: 8px;
  --componentPadding: 10px;
  --errorColor: #ed4337;
  --componentBackground: #1a1f25; // We need default colors for a default theme
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --inputBackground: #1c2027;
    --componentBackground: #1a1f25;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--fontFamily);
}

main {
  padding: 20px;
}
h1, h2, h3 {
  color: var(--foreground);
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

h2 {
font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 15px;
}
