.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}

.mainTitle {
    font-weight: bold;
    font-size: 1.5rem;
  }

@media (min-width: 768px) {
  .header {
    padding: 2rem;
  }
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: var(--foreground);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav a:hover,
.nav a:active {
  background: linear-gradient(
    90deg,
    var(--maincolor),
    var(--gradientmaincolor)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  background: linear-gradient(
    90deg,
    var(--maincolor),
    var(--gradientmaincolor)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.drawerContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  background-color: var(--componentBackground);
  height: 100%;
  min-width: 14rem;

  & .linkItem, Link {
    color: var(--foreground);
    padding: 0.5rem;
  }
  
}

